

<div class="container">
    <h2>Product List</h2>
    <table id="ProductList" class="table table-bordered table-striped"></table>
</div>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
<script src="~/Scripts/ProductsScript/Product.js"></script>
<script>
    $().ready(function () {
        productM.IntializeControls();
    });
</script>